.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .backGround {
    width: 30%;
    height: 70%;
    background: url('../../components/Icon/login-background.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoBig {
      width: 30%;
      display: flex;
      padding: 16px 55px 15px 56px;
     
      flex-shrink: 0;
      border-radius: 96px;
      background: #FFF;
    }
  }
  .loginForm{
    width: 30%;
    height: 70%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}