.slider {
  border: none;
  height: 100vh;
  position: fixed !important;
  overflow: auto;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white!important;

  .logo {
    display: flex;
    justify-content: center;

    .logoWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}

.bold {
  font-weight: 600;
}

.sidebar {
  background-color: white;
  display: flex;
  justify-content: center;
  // border:none

  :global {
    .ant-menu-item-selected a {
      color: #F89420;
    }

    .ant-menu-item a:hover {
      color: #F89420;
    }


    .ant-menu-sub.ant-menu-inline {
      background-color: #F8942033;
    }

    .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon,
    .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow {
      color: #F89420;
    }

    .ant-menu-item-selected {
      color: #F89420;
      border-radius: 15px;
      background: #F8942033;
    }

    .ant-menu-inline.ant-menu-root .ant-menu-item,
    .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
      padding-left: 14px !important;

      .ant-menu-title-content {
        font-weight: 600;
      }
    }

    .ant-menu-sub.ant-menu-inline>.ant-menu-item,
    .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
      padding-left: 28px !important;
    }

    .ant-menu-vertical .ant-menu-item::after,
    .ant-menu-vertical-left .ant-menu-item::after,
    .ant-menu-vertical-right .ant-menu-item::after,
    .ant-menu-inline .ant-menu-item::after {
      border-right: none;
    }

    ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
      border: none;
    }

    .ant-menu-light .ant-menu-item:hover,
    .ant-menu-light .ant-menu-item-active,
    .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-light .ant-menu-submenu-active,
    .ant-menu-light .ant-menu-submenu-title:hover {
      color: #F89420;
    }

    .ant-menu-title-content {
      font-size: 14px;
      font-weight: 500;
    }
    .ant-menu-vertical, .ant-menu-vertical-left {
      border-right: none!important;
    }
    .ant-layout-sider-trigger {
      background-color: white!important;
    }
    .ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title {
      color: #F89420;
    }
    .ant-layout .ant-layout-sider-trigger{
      background-color: white!important;
    }
    // span.ant-menu-title-content {
    //   color: #F89420;
    // }
  
  }
}