.container {
  min-height: calc(100vh - 44px);

  :global {
    .container-title {
      padding-top: 15px;
      font-weight: 600;
      font-size: 20px;
    }

    .sub-container {
      padding: 0 15px 0 15px;
    }
  }
}