.container {
  background-color: white;
  padding: 24px 80px 40px;
  :global {
    .section {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    .checkboxValue {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    label {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    .ant-input-number {
      width: 100%;
    }
    input.ant-input {
      width: 100%;
    }
    .ant-select {
      width: 100%;
    }
    .tableTower {
      border: 1px solid #bbb;
      border-radius: 6px;
      margin: 10px;
    }
    .circle {
      width: 20px;
      height: 20px;
      background: #b2b5bc;
      border-radius: 50%;
    }

    .underlineDiv {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      top: -25%;
      text-align: right;
      position: inherit;
      border-bottom: 1px solid #eff0f1;
    }

    .underlineText {
      border-bottom: 1px solid #f89420;
    }

    // .underlineText::before {
    //   background-color: red;
    // }

    table {
      border-collapse: separate;
      border-spacing: 0;
      padding: 1em;
      overflow-x: auto;
    }
    table tr th,
    table tr td {
      border: 1px solid #bbb;
      // border-top: 1px solid #bbb;
      // border-bottom: 1px solid #bbb;
      padding: 5px;
      // width: 118px;
      // height: 24px;
    }
    table tr th {
      width: 100px;
      min-width: 161px;
      height: 30px;
    }
    table tr td {
      width: 200px;
      min-width: 271px;
      height: 30px;
    }

    table tr th:first-child,
    table tr td:first-child {
      border-left: 1px solid #bbb;
    }
    table tr th {
      background: #f89420;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #fdfdfd;
    }

    /* top-left border-radius */
    table tr:first-child th:first-child {
      border-top-left-radius: 6px;
      border-bottom: hidden;
    }

    /* bottom-left border-radius */
    table tr:last-child th:first-child {
      border-bottom-left-radius: 6px;
    }

    /* top-right border-radius */
    table tr:first-child td:last-child {
      border-top-right-radius: 6px;
      border-bottom: 1px solid #bbb;
    }

    /* bottom-right border-radius */
    table tr:last-child td:last-child {
      border-bottom-right-radius: 6px;
      border-bottom: 1px solid #bbb;
    }
    .imgOverall {
      .ant-upload-list.ant-upload-list-picture-card {
        .ant-upload.ant-upload-select {
          width: 100%;
        }
        .ant-upload-list-item-container {
          width: 100%;
        }
      }
    }
    .ant-tooltip {
      display: none;
    }
    ul {
      list-style: none; /* Remove default bullets */
    }
    
    ul li::before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #f89420; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }
}
