.container {
  // background-color: white;
  padding: 24px 80px 40px;
  :global {
    .section {
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
    }
    .subSection {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    .checkboxValue {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    label {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    .ant-input-number {
      width: 100%;
    }
    input.ant-input {
      width: 100%;
    }
    .ant-select {
      width: 100%;
    }
    .ant-modal-title {
      text-align: center;
      color: #f89420;
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
    }
    // button.ant-btn {
    //   color: white;
    //   background: #F89420;
    // }
    table,
    th,
    td {
      border: 1px solid #c8cbd0;
      border-collapse: collapse;
    }
    .tableWrapperRoom {
      border: solid 1px #c8cbd0;
      padding: 15px;
      border-radius: 6px;
    }
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    .imgOverall {
      .ant-upload-list.ant-upload-list-picture-card {
        .ant-upload.ant-upload-select {
          width: 100%;
        }
        .ant-upload-list-item-container {
          width: 100%;
        }
      }
    }
    .yearButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 100px;
    }
    .ant-tooltip {
      display: none;
    }
    ul {
      list-style: none; /* Remove default bullets */
    }
    
    ul li::before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #f89420; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    .section{
      color: #f89420;
    }
  
  }
}
