.container {
  padding-left: 23px;
  min-height: calc(100vh - 44px);
  :global {
    .title-chart {
      font-weight: bold;
      font-size: 18px;
      padding-left: 1.5%;
    }
    .chart-area {
      background-color: white;
      border-radius: 16px;
    }
    // span.apexcharts-legend-text{
    //   max-width: 160px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // }
    .apexcharts-legend-series {
      max-width: 200px;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
