.form {
  width: 100%;
  background-color: white;
  padding: 100px 50px 50px 50px;
  border-radius: 8px;
  .topLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .imgLogin{
      width: 50%;
      .text{
      }
    }
  }
  .error{
    color: red;
  }
  .button{
    border-radius: 8px;
    background: #F89420;
    height: 50px;
    color:white
  }
  .button:hover{
    background: #F89420;
  }
  .buttonBack{
    margin-top: 10px;
    border-radius: 8px;
    background: #F8942033;
    height: 50px;
    color:#F89420
  }
}