.pageHeader {
  background-color: white !important;

  .textBlack {
    font-size: 12px;
  }

  :global {
    .ant-page-header-heading-title {
      margin-right: 12px;
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ant-page-header {
      background-color: transparent;
    }
  }
}
