.content {
  background-color: #fafafa;
  min-height: calc(100vh - 44px);
  overflow: auto;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  overflow: hidden;
}

.collapsed {
  padding-left: 80px;
}

.expanded {
  padding-left: 255px;
}
