.FilterForm {
  :global {
    .ant-select.ant-select-in-form-item {
      width: 90%;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 8px !important;
      height: 40px;
      padding: 4px;
      padding: 4px 0 0 10px;
    }

    span.ant-select-selection-search {
      padding: 4px;
    }

    .ant-input-affix-wrapper {
      border-radius: 8px !important;
      height: 40px;
    }

    .ant-picker {
      border-radius: 8px !important;
      height: 40px;
    }
    button.ant-btn.ant-btn-default {
      height: 40px;
      width: 100%;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      height: 20px !important;
    }

    .row1 {
      display: flex;
    }
    .button-float {
      float: right;
      display: flex;
      gap: 8px;
    }
  }
}
