.wrapHeader {
  // background-image: url('../../components/background-img/header2.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  // margin-bottom: 1%;
  border: none;
}
