.container {
  :global {
    .body-custom {
      padding: 2px 26px;
    }
    .ant-form-item-label {
      font-weight: 600;
    }
    .ant-modal-content {
      padding: 0px;
      width: 400px;
    }
    .ant-modal-header {
      background-color: #f89420;
      height: 60px;
    }
    .ant-modal-title {
      text-align: center;
      padding: 4% 0;
      color: white;
      font-weight: 600;
      font-size: 18px;
    }
    span.ant-modal-close-x {
      margin-top: 7%;
      background: white;
      border-radius: 12px;
      height: 19px;
      align-items: center;
    }
    .ant-input-number {
      width: 100%;
    }
    .ant-row {
      padding-left: 10px;
    }
    .ant-picker{
      width: 100%;
    }
    // .ant-modal,
    // .ant-modal-content {
    //   height: 100vh;
    //   width: 100vw;
    //   margin: 0;
    //   top: 0;
    // }
    // .ant-modal-body {
    //   height: calc(100vh - 110px);
    // }
  }
}
